---
layout: default
title: Start with CSS
---
{% include header.html %}

<div class="control">
    <div class="left">
        <div class="subNav">
        	{% for post in site.posts %}
        		<div class="part1 part"><a href="{{ site.baseurl}}{{ post.url }}">{{ post.title }}</a></div>
        	{% endfor %}
        </div>
    </div>
    <div class="content">
        <a name="part1"></a>
        <div class="container1">
            <div class="text1 text">
                <div class="title1 title">
                	<h2>Start with CSS</h2>
                	<h3>CISC3003 Practice 03: Share Your Travel Photos</h3>
                	<p>In this Practice we learn how to use CSS3</p>
                	<li>Example for CSS3
                		<div class="language-yaml highlighter-rouge">
                			<div class="highlight"><pre class="pre"><code>header, footer &lcub;
    color: white;
    background-color: #1A237E;
    margin: 0em 4em 0.25em 4em;  
&rcub;</code></pre>
                            </div>
                		</div>
                	</li>
                    <h2>Without CSS simple</h2>
                	<img src="/images/CSS_01.png" alt="CSS01" width="100%" height="auto">
                    <h2>Have CSS simple</h2>
                    <img src="/images/CSS_02.png" alt="CSS02" width="100%" height="auto">
            	</div>
            </div>
        </div>    
    </div>	
</div>

{% include footer.html %}